
@media screen and (max-width: 1280px){
    .banner_left{
        position: static;
    }
    .company_div{
        top: 850px;
    }
    .company{top: 900px}
}
@media screen and (min-width: 1280px){
    .banner_left{
        position: fixed;
    }
    .company{top: 730px;}
    .company_div{
        top: 710px;
    }
}
li a{
    color: black;
    font-weight: 600;
}
.banner_left p{
    padding-bottom: 20px;
}

.company{padding-top: 3px;}
.banner_left a:hover{
    color: darkgrey;
}
.banner_left{
    margin-top: 20px;
    z-index: 1;
}
.banner_left li{
    width:180px;
    margin-left: 20px;
    margin-top: 10px;
    padding:10px;
    border-bottom:3px solid red;
}
.banner{
    width:1100px;
    height:700px;
    margin: auto;
    padding-top:90px;
    position: relative;
}
.main{
    position: absolute;
    left: 300px;
    top: 100px;
    width: 800px;
    height: 500px;
}
.main h3{
    padding-bottom: 20px;
}
.main p{
    line-height: 30px;
}

.company{
    position: absolute;
    /*top: 730px;*/
}

.banner_left p{
    cursor: default;
}